html body{
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1.2px;
}
.bg-dark {
  background-color: #000 !important;
}
.footer-contact .btn-secondary{
  color: #939291;
  border-color: white;
  background-color: #fff;
  padding: 0 2rem;
  line-height: 1.6;
}
.footer-menu div{
  margin-bottom: 10px;
}
.footer-menu{
  list-style: none;
  display: inline-grid;
  text-align: center;
}
.footer-menu a{
  color: white !important;
  margin-bottom: 15px;
}
.navbar-border-right{
  border-right: 1px solid #ccc;
  height: 23px;
  padding: 0 0 0 10px;
}
.navbar-nav{
  line-height: 3;
}
.navbar-border-left{
  border-left: 1px solid #ccc;
  height: 20px;
  padding: 0 0 0 10px;
}

.carousel-inner{
  width:100%;
  max-height: 70vh !important;
}
.footer-text-area{
  color: #939291;
  padding: 15px;
}
@media screen and (max-width: 992px) {
  .footer-text-area {
    padding: 15px;
    text-align: center;
  }
}
@media screen and (max-width: 992px) {
  .footer-text-area h2 {
    font-size: 22px;
  }
}
@media screen and (max-width: 992px) {
  .footer-text-area p {
    margin-bottom: 5px;
  }
}
.text-area{
  color: #fff;
  padding: 5rem 15rem;
  background-color: #939291;
}
.title{
  font-size: 28px;
  text-align: left;
  margin-bottom: 5rem;
}
@media screen and (max-width: 992px) {
  .title {
    font-size: 20px;
    margin-bottom: 1.5rem;
  }
}
@media screen and (max-width: 992px) {
  .description p {
    font-size: 14px;
    font-weight: 300;
  }
}
.description{
  font-size: 16px;
  text-align: left;
}
@media screen and (max-width: 992px) {
  .text-area {
    padding: 15px;
  }
}
.brand-table{
  padding: 3rem 15rem;
}
@media screen and (max-width: 992px) {
  .brand-table {
    padding: 0;
  }
}
.services-bgc{
  background: url("https://res.cloudinary.com/dc96hlyst/image/upload/v1600268522/backgrounddd_yuxk6x.jpg") no-repeat;
}
.nav-link a {
  color: rgba(255, 255, 255, 0.5) !important;
}
.news-title{
  text-align: center;
}
.news-desc{
  text-align: center;
}
@media screen and (max-width: 992px) {
  .news-title {
    text-align: left;
  }
}
@media screen and (max-width: 992px) {
  .news-desc {
    text-align: left;
  }
}
.main-color{
  background-color: #000000;
  color: #ffffff;
}
g {
  color: #EED04A;
}
.social-group{
  float: right;
}
@media screen and (max-width: 992px) {
  .main-color {
    height: 100% !important;
  }
}
@media screen and (max-width: 992px) {
  .footer-menu {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .footer-news .news-title {
    margin-bottom: 5px;
    padding-top: 1em;
  }
}
@media screen and (max-width: 992px) {
  .social-group{
    justify-content: center !important;
    float: none;
  }
}
@media screen and (max-width: 992px) {
  .d-none-area{
    display: none;
  }
}
.brand-logo img{
  width: 200px;
  height: 80px;
}

@media screen and (max-width: 992px) {
  .brand-logo img {
    width: 200px;
    height: 70px;
  }
}
.grey-area{
  text-align: center;
  padding: 5rem;color: #fff;
  font-size: 32px
}
@media screen and (max-width: 992px) {
  .grey-area {
    padding: 15px;
    font-size: 24px;
  }
}
@media screen and (max-width: 992px) {
  .footer-menu {
    text-align: left;
    padding-top: 15px;
  }
}
@media screen and (max-width: 992px) {
  .form-inline a{
    margin: 0 15px;
  }
}
@media screen and (max-width: 992px) {
  .form-inline .first-child{
    margin-left: 0 !important;
  }
}
@media screen and (max-width: 992px) {
  .navbar-border-left{
    display: none;
  }
}
